.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
  height: 0;
  clear: both;
}


*{
  /* 不允许选中内容 */
  /* user-select: none;   */
  text-decoration: none;
  font-family: PingFang SC;
}